DC305RoomManagement/.vs/DC305RoomManagement/v16/.suo
DC305RoomManagement/.vs/DC305RoomManagement/v16/.suo
DC305RoomManagement/.vs/DC305RoomManagement/v16/Server/sqlite3/storage.ide-wal
DC305RoomManagement/.vs/DC305RoomManagement/v16/.suo
DC305RoomManagement/obj/Debug/DC305RoomManagement.csprojAssemblyReference.cache
DC305RoomManagement/obj/Debug/DesignTimeResolveAssemblyReferences.cache
DC305RoomManagement/.vs/DC305RoomManagement/v16/Server/sqlite3/storage.ide
*.ide
*.ide-shm
*.ide-wal
*.cache
